body{
    background-color: rgb(11, 150, 4); /*Bakgrundsfärg*/
}

.wrapper{ /*DIJAR: Klass*/
    display: grid; /*DIJAR: Gridlayout*/
    grid-template-rows: auto auto auto 70px; /*DIJAR: 4 rader, header är auto, nav är auto, main är auto vilket anpassar sig till innehållet, footer är 70 pixlar*/
    grid-template-areas: /*DIJAR: Ordning på sidan, toppen är header och botten är footer*/
    "header"
    "nav"
    "main"
    "footer";
    height: 97vh; /*DIJAR: Höjd blir 97% av dokumentfönstret*/
}

header{
    grid-area: header; /*DIJAR: Gridområde*/
    display: grid; 
    border-style: solid; /*ROBIN: Kant*/
    border-width: 5px; /*ROBIN: Tjocklek 5 pixlar på kanten*/
    border-color: rgb(10, 127, 3, 0.6); /*ROBIN: Färg på kant*/
    background-color: rgb(39, 160, 30);
    border-radius: 1em; /*DIJAR: Avrundade hörn*/
}

nav{
    grid-area: nav;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*ROBIN: 5 fractions*/
    padding: 0; /*ROBIN: Ta bort padding*/
    margin: 0; /*ROBIN: Ta bort margin*/
}

li{
    list-style-type: none; /*ROBIN: Inga punkter, ingen stil*/
    display: grid; 
    text-align: center; /*ROBIN: Centrera text*/
    background-color: rgb(39, 160, 30); /*ROBIN: Bakgrundsfärg*/
    border-style: solid; /*ROBIN: Solid kant*/
    border-color: rgb(10, 127, 3, 0.6); /*ROBIN: Färg på kant*/
    border-width: 5px; /*ROBIN: Tjocklek 5 pixlar på kanten*/
    border-radius: 1em; /*DIJAR: Avrundade hörn*/
    font-size: 50px; /*ROBIN: 50 pixlar textstorlek*/
}

li:hover{
    background-color: rgb(11, 148, 3, 0.6); /*ROBIN: Färg när muspekaren är över listelementen*/
}

li > a{
    text-decoration: none; /*ROBIN: Ta bort understrucket linje*/
    color: rgb(67, 76, 0); /*ROBIN: Färg*/
}

main{
    grid-area: main;
}

#body2 main{
    display: grid; 
    grid-template-columns: 1fr 1fr; /*DIJAR: 2 sections för att använda till djur html dokumenten*/
}

footer{
    grid-area: footer;
    background-color: rgb(10, 127, 3, 0.6);
}

h1 > a{
    text-decoration: none;
    color:rgb(67, 76, 0); 
    font-size: 40px;
}

.indexsite{
    background-image: url(Nankinfalk.jpg); /*ROBIN: Bild*/
    background-size: cover; /*ROBIN: Täcker hela bakgrunden*/
}

.Diegosite{
    background-image: url(Shrub.jpg);
    background-size: cover;
}

.Nanasite{
    background-image: url(RainForest.png);
    background-size: cover;
}

.Nemosite{
    background-image: url(Lake.jpg);
    background-size: cover;
}

.Pinkysite{
    background-image: url(Coast.jpg);
    background-size: cover;
}

.mainhem{ 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /*ROBIN: 3 sections*/
    grid-template-areas: /*ROBIN: Ordning*/
    "top"
    "center"
    "bottom";
}

.mainhem > section{
    justify-self: center; /*ROBIN: Centrera horisontellt*/
}

section > .center{
    display: grid;
    background-color: rgb(10, 127, 3, 0.6);
    padding: 5px; /*ROBIN: Padding på 5 pixlar*/
}

.center{
    margin: 0px; /*ROBIN: Ingen margin*/
    text-align: center;
    grid-area: center;
}

img{
    max-width: 100%; /*DIJAR: maximal bredd 100% av föräldrarelementet*/
    height:50svh; /*DIJAR: höjd 50% av vyhöjden*/
}

footer ~ .center, p{
    font-size: 2em; /*DIJAR: textstorlek 200%*/
}

h2{
    font-size: 3em; /*DIJAR: textstorlek 300%*/
}

h1, h2, h3{
    text-align: center; /*DIJAR: centrera huvudrubriker*/
}

.Animaldesign > p, .Animaldesign > h2, .AnimalImage > h2, .AnimalImage > img{
    border-style:solid; /*ROBIN: Solid kant*/
    border-width: 5px; /*ROBIN: Tjocklek 5 pixlar på kanten*/
    border-color:rgb(10, 127, 3, 0.6); /*ROBIN: Färg på kant*/
    background-color: rgb(39, 160, 30, 0.6);
}

.AnimalImage{
    justify-self: center; /*ROBIN: Centrera horisontellt*/
    display:grid;
}

section{
    margin: 10px; /*ROBIN: Margin på 10 pixlar*/
}

#övrepriser{
    display: flex; /*DENNIS: flexbox för layout*/
    justify-content: center; /*DENNIS: centrerar innehållet horizontellt*/
    align-items:center; /*DENNIS: centrerar innehållet vertikalt*/
    color:rgb(67, 76, 0) 
}

#övrepriser div{
    height: 30px; /*DENNIS: höjd på 30 pixlar*/
    width: 335px; /*DENNIS: bredd på 335 pixlar*/
    margin: 30px; /*DENNIS: margin 30 pixlar*/
    text-align: center; /*DENNIS: centrera text*/
    border-radius: 15px; /*DENNIS: Runda hörn, 15 pixlar*/
    font-size: 30px; /*DENNIS: textstorlek 30 pixlar*/
    background-color: yellowgreen;
    border: 3px solid rgb(89, 122, 23); /*DENNIS: kantlinje på 3 pixlar*/
}

#underpriser{
    display: flex; /*DENNIS: flexbox för layout*/
    justify-content: center; /*DENNIS: centrerar innehållet horizontellt*/
    align-items: center; /*DENNIS: centrerar innehållet vertikalt*/
    min-height: 400px; /*DENNIS: minsta höjd 400 pixlar*/
    color:rgb(67, 76, 0);
}

#underpriser div{
    height: 370px; /*DENNIS: höjd på 370 pixlar*/
    width: 335px;/*DENNIS: bredd på 335 pixlar*/
    margin: 30px; /*DENNIS: margin 30 pixlar*/
    text-align: center; /*DENNIS: centrera text*/
    border-radius: 15px; /*DENNIS: Runda hörn, 15 pixlar*/
    font-size: 30px; /*DENNIS: textstorlek 30 pixlar*/
    background-color: yellowgreen;
    text-align: center; /*DENNIS: centrera text*/
    border: 3px solid rgb(89, 122, 23); /*DENNIS: kantlinje på 3 pixlar*/
}

#underpriser h1{
    margin: 20px; /*DENNIS: margin 20 pixlar*/
    padding: 0; /*DENNIS: ingen padding*/
    font-family: arial; /*DENNIS: text ändras till arial*/
    font-size: 28px; /*DENNIS: textstorlek 28 pixlar*/
    text-align: center; /*DENNIS: centrera text*/
    position: relative; /*DENNIS: rutor hamnar i mitten*/
    top: 30% /*DENNIS: 30% upp*/
}

h3{
    font-size: 30px; /*DENNIS: */
}