nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

li{
    list-style-type: none;
    display: grid;
    text-align: center;
    background-color: rgb(198, 224, 0);
    border-style: solid;
    border-color: rgb(14, 188, 5);
    border-width: 5px;
    font-size: 50px;
}

li > a{
    text-decoration: none;
    color: rgb(67, 76, 0);
}

header{
    grid-area: header;
    display: grid;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(14, 188, 5);
    background-color: rgb(198, 224, 0);
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: rgb(10, 127, 3)
    
}

.wrapper{
    display: grid;
    grid-template-rows: 100px 100px auto 100px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    height: 97vh;
}

#body2 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 > a{
    text-decoration: none;
    color:rgb(67, 76, 0);
    font-size: 40px;
}

body{
    background-color: rgb(11, 150, 4);
    height: 100vh;
    background-image: url(Nankinfalk.jpg);

    background-size: cover;
}

h1{
    text-align: center;
}

.center{
    margin: 0px;
    text-align: center;
    grid-area: center;
}

.mainhem{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "top"
    "center"
    "bottom";
}

img{
    max-width: 100%;
    height: 300px;
}

footer .center{
    font-size: 30px;
}

p{
    font-size: 30px;
}

h2{
    font-size: 40px;
}